<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <link rel="stylesheet" href="{{ "/assets/css/font.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  <link rel="stylesheet" href="{{ "/assets/css/htmlize-syntax-highlight.css" | relative_url }}">
  {% if page.custom_css %}
    <link rel="stylesheet" href="{{ page.custom_css | relative_url }}">
  {% endif %}
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/assets/favicon.ico?" | prepend: site.baseurl }}">
  <link href="https://fonts.googlefonts.cn/css?family=EB+Garamond" rel="stylesheet">
  <script type='text/javascript' src='https://platform-api.sharethis.com/js/sharethis.js#property=67ba859acde8790019eafb38&product=inline-share-buttons' async='async'></script>
  {%- feed_meta -%}

  {% if page.mathjax %}
    {% include mathjax-config.html %}
  {% endif %}
</head>
